body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  max-width: 35%;
  min-width: 400px;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  margin-top: 40px;
}

h2.about {
  margin-top: 25px;
}

p.about {
  margin: 25px;
}

#aboutBox {
  margin-top: 50px;
  border: 1px solid black;
}

#simleFace {
  width: 50%;
}

#copyright {
  position: relative;
  margin-top: 40px;
  bottom: 0;
}

#authorHeader {
  margin-top: 0;
}

#logoHeader {
  width: 400px;
}
